.tfr-btn-next-page {
  border: 1px solid var(--tfr-color-btn-primary);
  padding: 10px;
  border-radius: 4px;
  color: var(--tfr-color-btn-primary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
