.tfr-category {
  padding: 0 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: var(--tfr-color-bg-tertiary);
  border-radius: 4px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  color: var(--tfr-color-font-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
}
