.dsc-catalog-card-top {
  display: flex;
  justify-content: center;
  padding: 25px 10px 10px 10px; /* Adicionado mais espaço no topo */
  position: relative; /* Necessário para posicionar o ID */
}

/* Novo estilo para o ID/Ano */
.dsc-catalog-card-id {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 12px;
    font-weight: 700;
    color: var(--dsc-color-font-primary);
}

.dsc-catalog-card-top img {
  width: 150px;
  height: 150px;
}

.dsc-catalog-card-bottom {
  padding: 10px 20px;
  min-height: 130px;
}

.dsc-catalog-card-bottom h3 {
  color: var(--dsc-color-font-secondary);
  font-size: 20px;
}

.dsc-catalog-card-bottom h4 {
  color: var(--dsc-color-font-primary);
  font-size: 12px;
}