#public-catalog-section {
    padding: 20px 0;
}

.tfr-public-list-container {
    background-color: var(--tfr-color-card-bg);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid var(--tfr-color-card-border);
}

.tfr-public-list-item {
    border-bottom: 1px solid var(--tfr-color-card-border);
    padding: 15px 5px;
}

.tfr-public-list-item:last-child {
    border-bottom: none;
}

.tfr-public-item-desc {
    font-size: 16px;
    font-weight: 700;
    color: var(--tfr-color-font-primary);
}

.tfr-public-item-date {
    font-size: 12px;
    color: var(--tfr-color-font-secondary);
}