@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --tfr-color-bg-primary: #f5f7fa;
  --tfr-color-bg-secondary: #4a90e2;
  --tfr-color-bg-tertiary: #6c757d;
  --tfr-color-bg-quaternary: #28a745;
  --tfr-color-bg-notification: #dc3545;

  --tfr-color-card-bg: #fff;
  --tfr-color-card-border: #dee2e6;

  --tfr-color-btn-primary: #007bff;
  --tfr-color-btn-inverse: #fff;

  --tfr-color-font-primary: #495057;
  --tfr-color-font-secondary: #28a745;
  --tfr-color-font-tertiary: #fff;
  --tfr-color-font-placeholder:#ced4da;

  --tfr-color-error: #dc3545;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--tfr-color-bg-primary);
}

main {
  padding: 0 20px;
  padding-bottom: 70px;
}

/*-----------------------------------------------------------------*/
/* generic styles */

.tfr-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.tfr-mb20 {
  margin-bottom: 20px;
}

.tfr-mt20 {
  margin-top: 20px;
}

.tfr-section-title {
  text-align: center;
  color: var(--tfr-color-font-primary);
  font-size: 16px;
}

.tfr-txt-left {
  text-align: left;
}

@media (min-width: 576px) {
  .tfr-section-title {
    text-align: left;
    font-size: 24px;
  }
}

/*-----------------------------------------------------------------*/
/* header styles */

header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.tfr-logo-container {
    display: flex;
    align-items: center;
}

/* Estilo para a imagem do logo */
.tfr-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Garante que a tag nav usa flexbox para alinhar os itens */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 16px;
}

nav a {
  font-size: 14px;
}

.tfr-navbar-right {
  display: flex;
  align-items: center;
}

.tfr-menu-items-container {
  display: flex;
}

.tfr-menu-items-container img {
  width: 20px;
  height: 20px;
}

.tfr-menu-item {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.tfr-menu-item p {
  display: none;
  margin-left: 5px;
  font-size: 14px;
}

.tfr-menu-item-active {
  font-weight: 700;
}

.tfr-logged-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tfr-logged-user span {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.tfr-logged-user p {
  font-size: 12px;
}

.tfr-logged-user a {
  font-weight: 700;
}

@media (min-width: 576px) {
  nav h1 {
    font-size: 24px;
  }

  .tfr-menu-item p {
    display: unset;
  }
}

/*-----------------------------------------------------------------*/
/* card styles */

.tfr-card {
  border: 1px solid var(--tfr-color-card-border);
  border-radius: 4px;
  background-color: var(--tfr-color-card-bg);
}

.tfr-line-bottom {
  border-bottom: 1px solid var(--tfr-color-card-border);
}

/*-----------------------------------------------------------------*/
/* button styles */

.tfr-btn-page-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 576px) {
  .tfr-btn-page-container {
    width: 220px;
  }
}

.tfr-btn {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*-----------------------------------------------------------------*/
/* form styles */

.tfr-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.tfr-form h2 {
  font-size: 16px;
  color: var(--tfr-color-font-primary);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.tfr-form-controls-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin: 20px 0;
}

.tfr-form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  color: var(--tfr-color-font-primary);
  border-radius: 4px;
  border: 1px solid var(--tfr-color-card-border);
}

.tfr-form-control:focus {
  outline: none;
}

.tfr-form-control::placeholder {
  color: var(--tfr-color-font-placeholder);
}

.tfr-form-control[data-dirty="true"][data-invalid="true"] {
  border: 1px solid var(--tfr-color-error);
}

.tfr-form-control[data-dirty="true"][data-invalid="true"] ~ div {
  display: unset;
}

.tfr-form-error {
  color: var(--tfr-color-error);
  font-size: 12px;
  padding-left: 4px;
  display: none;
}

.tfr-form-global-error {
  border: 1px solid var(--tfr-color-error);
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  font-size: 12px;
  color: var(--tfr-color-error);
}

.tfr-textarea {
  resize: none;
  height: 128px;
  padding-top: 10px;
}

.tfr-form-select-container {
  padding: unset;
  height: unset;
}

@media (min-width: 576px) {
  .tfr-form h2 {
    font-size: 24px;
  }
}

/*-----------------------------------------------------------------*/
/* table styles */

.tfr-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.tfr-table thead {
  height: 55px;
  font-size: 14px;
  color: var(--tfr-color-font-primary);
  background-color: var(--tfr-color-card-bg);
}

.tfr-table tbody {
  text-align: center;
  font-size: 12px;
  color: var(--tfr-color-font-primary);
  background-color: var(--tfr-color-card-bg);
}

.tfr-table tbody tr {
  height: 70px;
  border-top: 1px solid var(--tfr-color-card-border);
}

.tfr-table th:nth-child(2) {
  border-top-left-radius: 10px;
}

.tfr-table th:last-child {
  border-top-right-radius: 10px;
}

.tfr-table td:nth-child(2) {
  padding-left: 10px;
}

.tfr-table td:last-child {
  padding-right: 5px;
}

.tfr-tb576 {
  display: none;
}

.tfr-tb768 {
  display: none;
}

@media (min-width: 576px) {
  .tfr-tb576 {
    display: table-cell;
  }

  .tfr-table th:nth-child(1) {
    padding-left: 20px;
    border-top-left-radius: 10px;
  }

  .tfr-table th:nth-child(2) {
    border-top-left-radius: 0;
  }

  .tfr-table td:nth-child(1) {
    padding-left: 20px;
  }

  .tfr-table td:nth-child(2) {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .tfr-tb768 {
    display: table-cell;
  }
}

@media (min-width: 992px) {
  .tfr-table tbody {
    font-size: 16px;
  }
}

/*-----------------------------------------------------------------*/
/* dialog styles */

.tfr-dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.tfr-dialog-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--tfr-color-card-bg);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tfr-dialog-box h2 {
  font-size: 20px;
  color: var(--tfr-color-font-primary);
  margin-bottom: 20px;
}

.tfr-dialog-btn-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.tfr-dialog-btn {
  width: 100%;
}

/* Adicione estas regras no final do seu ficheiro src/index.css */

@media (max-width: 575px) {
  /* Ajusta o header para ecrãs pequenos */
  header {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* Empilha os elementos da navegação verticalmente */
  nav {
    flex-direction: column;
  }

  /* Centraliza o título e adiciona uma margem inferior */
  .tfr-logo-container {
    margin-bottom: 10px;
    justify-content: center;
    width: 100%;
  }

  /* Garante que o texto do título não fique demasiado grande */
  nav h1 {
    font-size: 18px;
  }
  
  /* Ajusta o alinhamento dos itens do menu e do utilizador logado */
  .tfr-navbar-right {
    flex-direction: column;
    align-items: center;
  }

  .tfr-menu-items-container {
    margin-bottom: 10px;
  }

  /* Centraliza também as informações do utilizador logado */
  .tfr-logged-user {
    align-items: center;
  }
}
